/* .about{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    
}
.about-main{
    display: flex;
    
    width: 60vw;

    margin-left: 10rem;
   

}
.lorem{
    position: relative;
    top: 0rem;
    left: 9rem;
    font-size: larger;
justify-content: center;
align-items: center;
}

.ico{
    margin: 1rem;
    display: flex;
}
.ico .l{
margin: 2rem;
size: 40px;

    font-size: larger;

}.ico .p{
    size: 40px;
margin: 2rem;
    font-size: larger;
}
.about-me{
    color: black;
    font-size: xx-large;
    margin-left: 1rem;
}
.ico .i{
    size: 40px;
margin: 2rem;
    font-size: larger;
}

.about-main img{
    width: 40%;
    border-radius: 5px;
    background-size: cover;
    object-fit: cover;
    position: relative;
 right: 7rem;

} */

    
/* @media (max-width:500px) {
    .about-me{
        color: red;
    }
    .about-main img{
        width: 100%;
        margin-left: 2rem;
        margin-top: 1rem;
    
        border-radius: 5px;
        background-size: cover;
        object-fit: cover;
        
    
    }
    .ico{
        margin: 1rem;
        display: flex;
        display: none;
    }
   
    .lorem{
        position: relative;
        font-size: small;
    justify-content: center;
    align-items: center;
    left: -6rem;
    top: 2rem;
    }
    .about-main{
    display: flex;
    flex-direction: column;


    width: 60vw;

}
.about{
    height: 140vh;
    width: 100%;
    background-color: antiquewhite;
    
}




} */
/* @media  (min-width:1140px) {
    .about-me{
        color: pink;
    }
    .about-main img{
        width: 40%;
        margin-left: 2rem;
        margin-top: 2rem;
    
        border-radius: 5px;
        background-size: cover;
        object-fit: cover;
        
    
    }
    .ico{
        margin: 1rem;
        display: flex;
    }
   
    .lorem{
        position: relative;
        border: 2px solid red;
        font-size: small;
    justify-content: center;
    align-items: center;
  
    }
    .about-main{
    display: flex;


    width: 60vw;

}
.about{
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    
} */




/* } */
/* @media  (min-width:501px) and (max-width:1139px) {
    .about-me{
        color: red;

    }
    .about-main img{
        width: 40%;
      
        margin-top: 2rem;
        margin-left: -1rem;
        
    
        border-radius: 5px;
        background-size: cover;
        object-fit: cover;
        
    
    }
    .ico{
        margin: 1rem;
        display: flex;
    }
   
    .lorem{
        position: relative;
        border: 2px solid red;
        font-size: small;
    justify-content: center;
    align-items: center;
    width: 25rem;

    }
    .about-main{
    display: flex;


    width: 60vw;

}
.about{
    height: 90vh;
    width: 100%;
    background-color: antiquewhite;
    
}




} */

/* @media screen and (max-width:900px) {
    .about-me{
        color: red;
    }
    .about-main img{
        height: 90%;
        width: 80%;
        border-radius: 5px;
        background-size: cover;
        object-fit: cover;
        
    
    }
    .lorem{
        position: relative;
        border: 2px solid red;
        font-size: small;
    justify-content: center;
    align-items: center;
    left: -5rem;
    }
    .about-main{
    display: flex;
   
    width: 60vw;

}
.about{
    height: 110vh;
    width: 100%;
    background-color: antiquewhite;
    
} */

    
/* } */









#about{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;

}
.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.grid-left{
    height: 100%;
    width: 60%;
    /* background-color: blue; */
    display: grid;
    place-items: center;
}
img{
    width: 100%;
    height: 100%;
}
.grid-lorem{
    /* background-color: whitesmoke; */
    height:100% ;
    width: 100%;
    font: 300  1rem bolder;
    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    place-items: center;
    box-sizing: border-box;

}
.ico{
    font-size: 2rem;
}
.p{
    margin: 1rem;
    color: black;
    
}
.i{
    margin: 1rem;
    color: red;

    
}.l{
    margin: 1rem;
    color: blue;
    
}
.about-heading{
    color: black;
    text-transform: uppercase;
}
.about-heading::first-letter{
    color: orangered;
}
@media (max-width:500px) {
    .about-grid{
        display: grid;
        grid-template-columns:  1fr;
      
       
    
    }
    
}
@media (min-width:1000px) {
    .about-grid{
        display: grid;
        grid-template-columns:  1fr 1fr;
    
    }
    .grid-left{
        height: 125%;
        width: 60%;
        display: grid;
        position: relative;
        /* left: -3rem; */
        top: -5rem;

        place-items: center;
    }
    img{
        width: 100%;
        height: 100%;
    }
    
}
@media (min-width:502px) and (max-width:998px) {

    .about-grid{
        display: grid;
        grid-template-columns:  1fr 1fr;

    
    }
    .grid-left{
        height: 160%;
        width: 100%;
        display: grid;
        position: relative;
        left: -0rem;
        top: -12rem;

        place-items: center;
    }
    img{
        width: 100%;
        height: 100%;
        
    }
  

    
}
